head{
    margin-bottom: 40px;
}

.header{
    font-size: larger;
    font-weight: 300;
}

.Our_students{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.table_des{
    display: grid;
    grid-template-rows: 40px 40px 40px ;
}

.red_box{
    background-color: rgb(230, 30, 42);
}

.yellow_box{
    background-color:rgb(250, 200, 0) ;
}
